* {
  background-color: #222222;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches, serif;
  font-size: 120px;
}

#category {
  font-family: Staatliches, serif;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

.titleStyle {
  background-color: transparent;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-container {
  background-color: #222;
}

.uk-navbar-container {
  background-color: #222;
  font-family: Staatliches, serif;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.photoBanner {
  max-height: 100px;
}

.salve {
  height: 100vh;
}
